@media (max-width: 672px) {
    .threed-img{
        display: none;
    }
    .container2{
        margin: 0 auto;
    }
    .log-in{
        width: 70%;
    }
    .container1{
        width: 102px;
        height: 63px;
        margin-left: 260px;
        margin-top: 100px;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .logo{
        margin: 0 auto;
    }
    .logo-text{
        margin-top: 12px;
    }
  }
  